

h1{
    font-size: 24px ;
    color: aquamarine;
    font-weight: bold;
    font-style: italic;
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bolder;
}

h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}


p{
    color: #4d4d4d;
}


.eerst{
    font-weight: bold;
    color: aliceblue;
}

a{
    color: #8A2BE2;
    text-decoration: none;
}

header{
    width: 100%;
    height: 33vh;
    background-image:url(img/images.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

img{
    width: 500px;
}